@import "variables";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: $colorLetras;
}
.textoFooter{
    color: black;
}

/*fondo de pantalla*/
.index {
    background-image: $colorFondo;
    background-repeat: no-repeat;
    background-size: cover
}

.servicios {
    @extend .index;

    p {
        padding: 10px;
    }

    h3 {
        margin: 15px;
    }
}

.contacto {
    @extend .index;
}

.somos {
    @extend .index;
}

.proyectos {
    @extend .index;
}


//mixin

@mixin flexbox($flex, $direction, $justify, $align) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

;

/* Foto navegador */
.fotoNav {
    height: 5rem;
    width: 5rem;
}

/*tamaño foto carrousel*/
.fotoCar {
    height: 55rem;
    width: 100%;
}

.carrousel {
    margin-bottom: 50px;
}

.carousel-caption{
    h1 {color: black;}
    p {color: black;
    font-size: 1.5rem;}
}

ul {
    list-style-type: none;

    li a {
        text-decoration: none;
        color: black;
    }
}

.negrita {
    font-weight: bold;
    font-size: 2rem;
}


.menu {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.infoInicio {
    margin: 20px;

    h2 {
        margin: 15px;
    }

    p {
        margin: 5px;
    }
}

.tituloPrincipal {
    margin-top: 100px;
}


/*Animacion logo duvitek*/

@keyframes logo {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }

}


.logoDuvi {

    animation-name: logo;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.parrafoDer {

    border-left: solid black;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
}

@media screen and (max-width:500px) {
    .carrousel .carousel {
        height: 20rem;
    }

    .carousel-item .fotoCar {
        height: 20rem;
    }


    .parrafoDer {
        border: none;
    }

    .logoCoca {
        flex-direction: column;

        .textoCoca {
            border-left: none;
        }
    }

    .proyecto2 .cmc {
        flex-direction: column;

        .textoCmc {
            border-right: none;
        }
    }

    .infoInicio2 .fotoInicio2 {
        width: 20rem;
    }

    .infoInicio1 .fotoInicio1 {
        width: 20rem;
    }

    section .mapaContacto {
        margin: 0px;
    }

    .mapaContacto .mapa {
        height: 20rem;
    }
    .container-fluid{
        background-color: white;
    }
    div .fotoEquipo{
        height: 300px;
    }

    div .parSomos{
        font-size: 14px;
    }

    div .fotoCard{
        height: 300px;
    }
}

@media screen and (min-width:501px) and (max-width:800px){
    
    .parrafoDer {
        border: none;
    }

    .logoCoca {
        flex-direction: column;

        .textoCoca {
            border-left: none;
        }
        .logoCocaCola{
            width: 80%;
            margin: auto;
        }
        
    }

    .proyecto2 .cmc {
        flex-direction: column;

        .textoCmc {
            border-right: none;
        }
        .fotoCmc{width: 80%;
        margin: auto;}
    }

    .carrousel .carousel {
        height: 30rem;
    }

    .carousel-item .fotoCar {
        height: 30rem;
    }
    .logoDuvi{
        width: 50%;
        margin: auto;
    }
    div .fotoEquipo{
        height: 300px;
    }
    .imgTecno{
        width: 80%;
        margin: auto;
    }
    div .parSomos{
        font-size: 14px;
    }
    div .fotoCard{
        height: 300px;
    }

}

.fotoFondo {
    background-color: black;
    color:white;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.botonServicios{
    margin: 50px
}

.redes {
    @include flexbox(flex, row, center, center);
    gap: 1em;
}


.foto {
    width: 3rem;
    height: 3rem;
    &:hover {
        transform: scale(1.5);
    }
    transition-duration: 2s;
}

footer {
    padding: 10px 0px;
}

.formulario {
    width: 400px;
    border: 10px solid #5573b4;
    padding: 50px;
    margin: auto;
    border-radius: 10px;

    h4 {
        font-size: 1.2rem;
        padding-bottom: 20px;
        color: white;
        text-align: center;
    }
}

.campos {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid  #5573b4;
    color: black;
    font-weight: 10000;
}

.boton {
    width: 100%;
    border: 1px solid black;
    background:#5573b4;
    padding: 10px;
    color: white;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.contacto1 {
    margin-top: 150px;
    margin-bottom: 80px;
}

.mapaContacto {
    margin: 20px 0px;
}

#textSpace {
    border: 1px solid;
    background-color:#5573b4;

}

.cardContacto {
    background-color:  #5573b4;
    margin: auto;
}
.tituloContacto{
    margin-top: 130px;
    margin-bottom: 50px
}

.textoContacto {
    @include flexbox(flex, column, center, center);

    color:#5573b4;
    font-size: 1.2rem;
    position: relative;
    margin: 50px;
    border-left: 3px solid #5573b4;
}

.mapa {
    margin: auto;
    padding: 40px;
    height: 35rem;
    width: 100%;
}

.menuSomos {
    @extend .parSomos;
    margin-bottom: 50px;
}

.parSomos {
    margin-top: 150px;
    font-size: 1.5rem;
}

.inicioProyecto {
    margin-top: 150px;
    margin-bottom: 50px;
}

.fotoProyecto {
    margin: auto;
}

.logoCoca {
    @include flexbox(flex, row, center, center);
    margin-bottom: 40px;
}

.logoCocaCola {
    width: 100%;
    &:hover {
        transform: scale(1.2);
    }
    transition-duration: 2s;
}


.textoCoca {

    font-size: 1.2rem;
    border-left: black 2px solid;
}

.cmc {
    @include flexbox(flex, row, center, center);

}

.textoCmc {

    font-size: 1.2rem;

    border-right: black 2px solid;
}

.fotoCmc {
    width: 100%;
    &:hover {
        transform: scale(1.2);
    }
    transition-duration: 2s;
}

.redesProyecto {
    margin: 50px;

    h3 {
        padding: 20px 0px;
    }

    p {
        padding: 20px 0px;
    }

    img {
        padding: 20px 0px;
        margin: auto;
    }
}


/*tamaño foto servicios*/
.fotoCard {
    height: 40rem;

}

.fotoInicio1 {
    width: 60%;
}

.fotoInicio2 {
    width: 60%;
    height: 250px;
}

.infoInicio1 {
    @include flexbox(flex, column, center, center)
}

.infoInicio2 {
    @extend .infoInicio1
}

.seccionInicio {
    margin: 50px;
}

.principioServicios {
    margin-top: 150px;
}

.imgServicio {
    margin: auto;
}

.botonSus {
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 50px;

    &:hover {
        background-color: black;
        color: white;
    }
}


// Map get
$estilosBoton: (color: #5573b4,
    Cfondo: white,
    Redondeado: 5px,
    Tfuente: 1.2rem,
    borde: 1px solid black,

);

.botonContacto {
    border-radius: map-get($estilosBoton, Redondeado);
    width: 200px;
    height: 50px;
    border: map-get($estilosBoton, borde);
    background-color: map-get($estilosBoton, Cfondo);
    padding: 45x;
    color: map-get($estilosBoton, color);
    margin: 10px 0;
    font-size: map-get($estilosBoton, Tfuente);
    font-weight: bold;
    box-shadow: -5px 5px rgb(68, 68, 68);

    &:hover {
        color: white;
        background-color: #5573b4;
    }
}

/*Usamos hover para cambiar el color del boton*/

.container-fluid{
    background-color: rgba(128, 128, 128, 0.075);
    font-size: 2rem;
    }

    .fotoEquipo{
        height: 40rem;
        &:hover {
            transform: scale(1.2);
        }
        transition-duration: 2s;
    
    }
    .equipo{
        margin: 30px;
    }
